<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @booklet.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @booklet.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @booklet.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @booklet.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @booklet.year %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @booklet.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @booklet.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @booklet.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @booklet.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @booklet.note %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @booklet.publisher %>
</p>

<p>
  <strong>Series:</strong>
  <%= @booklet.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @booklet.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @booklet.edition %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @booklet.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @booklet.editor %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @booklet.organization %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @booklet.entry_type %>
</p>

<p>
  <strong>Annote:</strong>
  <%= @booklet.annote %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @booklet.chapter %>
</p>

<p>
  <strong>Crossref:</strong>
  <%= @booklet.crossref %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @booklet.howpublished %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @booklet.institution %>
</p>

<p>
  <strong>School:</strong>
  <%= @booklet.school %>
</p>

<p>
  <strong>Type:</strong>
  <%= @booklet.type %>
</p>

<%= link_to 'Edit', edit_booklet_path(@booklet) %> |
<%= link_to 'Back', booklets_path %>
