<%= form_for(@unpuplished) do |f| %>
  <% if @unpuplished.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unpuplished.errors.count, "error") %> prohibited this unpuplished from being saved:</h2>

      <ul>
      <% @unpuplished.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_area :author %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :journal %><br>
    <%= f.text_area :journal %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.number_field :volume %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :pages %><br>
    <%= f.text_field :pages %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.number_field :month %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br>
    <%= f.text_area :publisher %>
  </div>
  <div class="field">
    <%= f.label :series %><br>
    <%= f.text_area :series %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :edition %><br>
    <%= f.text_area :edition %>
  </div>
  <div class="field">
    <%= f.label :booktitle %><br>
    <%= f.text_area :booktitle %>
  </div>
  <div class="field">
    <%= f.label :editor %><br>
    <%= f.text_area :editor %>
  </div>
  <div class="field">
    <%= f.label :organization %><br>
    <%= f.text_area :organization %>
  </div>
  <div class="field">
    <%= f.label :entry_type %><br>
    <%= f.text_field :entry_type %>
  </div>
  <div class="field">
    <%= f.label :annote %><br>
    <%= f.text_area :annote %>
  </div>
  <div class="field">
    <%= f.label :chapter %><br>
    <%= f.text_area :chapter %>
  </div>
  <div class="field">
    <%= f.label :crossref %><br>
    <%= f.text_area :crossref %>
  </div>
  <div class="field">
    <%= f.label :howpublished %><br>
    <%= f.text_area :howpublished %>
  </div>
  <div class="field">
    <%= f.label :institution %><br>
    <%= f.text_area :institution %>
  </div>
  <div class="field">
    <%= f.label :school %><br>
    <%= f.text_area :school %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_area :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
