<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @unpuplished.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @unpuplished.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @unpuplished.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @unpuplished.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @unpuplished.year %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @unpuplished.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @unpuplished.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @unpuplished.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @unpuplished.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @unpuplished.note %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @unpuplished.publisher %>
</p>

<p>
  <strong>Series:</strong>
  <%= @unpuplished.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @unpuplished.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @unpuplished.edition %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @unpuplished.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @unpuplished.editor %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @unpuplished.organization %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @unpuplished.entry_type %>
</p>

<p>
  <strong>Annote:</strong>
  <%= @unpuplished.annote %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @unpuplished.chapter %>
</p>

<p>
  <strong>Crossref:</strong>
  <%= @unpuplished.crossref %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @unpuplished.howpublished %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @unpuplished.institution %>
</p>

<p>
  <strong>School:</strong>
  <%= @unpuplished.school %>
</p>

<p>
  <strong>Type:</strong>
  <%= @unpuplished.type %>
</p>

<%= link_to 'Edit', edit_unpuplished_path(@unpuplished) %> |
<%= link_to 'Back', unpuplisheds_path %>
