<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @techreport.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @techreport.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @techreport.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @techreport.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @techreport.year %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @techreport.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @techreport.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @techreport.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @techreport.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @techreport.note %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @techreport.publisher %>
</p>

<p>
  <strong>Series:</strong>
  <%= @techreport.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @techreport.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @techreport.edition %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @techreport.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @techreport.editor %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @techreport.organization %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @techreport.entry_type %>
</p>

<p>
  <strong>Annote:</strong>
  <%= @techreport.annote %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @techreport.chapter %>
</p>

<p>
  <strong>Crossref:</strong>
  <%= @techreport.crossref %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @techreport.howpublished %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @techreport.institution %>
</p>

<p>
  <strong>School:</strong>
  <%= @techreport.school %>
</p>

<p>
  <strong>Type:</strong>
  <%= @techreport.type %>
</p>

<%= link_to 'Edit', edit_techreport_path(@techreport) %> |
<%= link_to 'Back', techreports_path %>
