<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @phdthesis.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @phdthesis.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @phdthesis.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @phdthesis.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @phdthesis.year %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @phdthesis.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @phdthesis.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @phdthesis.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @phdthesis.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @phdthesis.note %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @phdthesis.publisher %>
</p>

<p>
  <strong>Series:</strong>
  <%= @phdthesis.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @phdthesis.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @phdthesis.edition %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @phdthesis.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @phdthesis.editor %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @phdthesis.organization %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @phdthesis.entry_type %>
</p>

<p>
  <strong>Annote:</strong>
  <%= @phdthesis.annote %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @phdthesis.chapter %>
</p>

<p>
  <strong>Crossref:</strong>
  <%= @phdthesis.crossref %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @phdthesis.howpublished %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @phdthesis.institution %>
</p>

<p>
  <strong>School:</strong>
  <%= @phdthesis.school %>
</p>

<p>
  <strong>Type:</strong>
  <%= @phdthesis.type %>
</p>

<%= link_to 'Edit', edit_phdthesis_path(@phdthesis) %> |
<%= link_to 'Back', phdtheses_path %>
