<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @conference.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @conference.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @conference.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @conference.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @conference.year %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @conference.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @conference.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @conference.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @conference.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @conference.note %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @conference.publisher %>
</p>

<p>
  <strong>Series:</strong>
  <%= @conference.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @conference.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @conference.edition %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @conference.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @conference.editor %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @conference.organization %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @conference.entry_type %>
</p>

<p>
  <strong>Annote:</strong>
  <%= @conference.annote %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @conference.chapter %>
</p>

<p>
  <strong>Crossref:</strong>
  <%= @conference.crossref %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @conference.howpublished %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @conference.institution %>
</p>

<p>
  <strong>School:</strong>
  <%= @conference.school %>
</p>

<p>
  <strong>Type:</strong>
  <%= @conference.type %>
</p>

<%= link_to 'Edit', edit_conference_path(@conference) %> |
<%= link_to 'Back', conferences_path %>
