<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @incollection.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @incollection.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @incollection.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @incollection.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @incollection.year %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @incollection.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @incollection.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @incollection.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @incollection.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @incollection.note %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @incollection.publisher %>
</p>

<p>
  <strong>Series:</strong>
  <%= @incollection.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @incollection.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @incollection.edition %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @incollection.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @incollection.editor %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @incollection.organization %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @incollection.entry_type %>
</p>

<p>
  <strong>Annote:</strong>
  <%= @incollection.annote %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @incollection.chapter %>
</p>

<p>
  <strong>Crossref:</strong>
  <%= @incollection.crossref %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @incollection.howpublished %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @incollection.institution %>
</p>

<p>
  <strong>School:</strong>
  <%= @incollection.school %>
</p>

<p>
  <strong>Type:</strong>
  <%= @incollection.type %>
</p>

<%= link_to 'Edit', edit_incollection_path(@incollection) %> |
<%= link_to 'Back', incollections_path %>
