<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @manual.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @manual.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @manual.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @manual.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @manual.year %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @manual.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @manual.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @manual.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @manual.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @manual.note %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @manual.publisher %>
</p>

<p>
  <strong>Series:</strong>
  <%= @manual.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @manual.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @manual.edition %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @manual.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @manual.editor %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @manual.organization %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @manual.entry_type %>
</p>

<p>
  <strong>Annote:</strong>
  <%= @manual.annote %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @manual.chapter %>
</p>

<p>
  <strong>Crossref:</strong>
  <%= @manual.crossref %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @manual.howpublished %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @manual.institution %>
</p>

<p>
  <strong>School:</strong>
  <%= @manual.school %>
</p>

<p>
  <strong>Type:</strong>
  <%= @manual.type %>
</p>

<%= link_to 'Edit', edit_manual_path(@manual) %> |
<%= link_to 'Back', manuals_path %>
