<p id="notice"><%= notice %></p>

<h1>Listing Masterstheses</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Author</th>
      <th>Title</th>
      <th>Journal</th>
      <th>Year</th>
      <th>Volume</th>
      <th>Number</th>
      <th>Pages</th>
      <th>Month</th>
      <th>Note</th>
      <th>Publisher</th>
      <th>Series</th>
      <th>Address</th>
      <th>Edition</th>
      <th>Booktitle</th>
      <th>Editor</th>
      <th>Organization</th>
      <th>Entry type</th>
      <th>Annote</th>
      <th>Chapter</th>
      <th>Crossref</th>
      <th>Howpublished</th>
      <th>Institution</th>
      <th>School</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @masterstheses.each do |mastersthesis| %>
      <tr>
        <td><%= mastersthesis.key %></td>
        <td><%= mastersthesis.author %></td>
        <td><%= mastersthesis.title %></td>
        <td><%= mastersthesis.journal %></td>
        <td><%= mastersthesis.year %></td>
        <td><%= mastersthesis.volume %></td>
        <td><%= mastersthesis.number %></td>
        <td><%= mastersthesis.pages %></td>
        <td><%= mastersthesis.month %></td>
        <td><%= mastersthesis.note %></td>
        <td><%= mastersthesis.publisher %></td>
        <td><%= mastersthesis.series %></td>
        <td><%= mastersthesis.address %></td>
        <td><%= mastersthesis.edition %></td>
        <td><%= mastersthesis.booktitle %></td>
        <td><%= mastersthesis.editor %></td>
        <td><%= mastersthesis.organization %></td>
        <td><%= mastersthesis.entry_type %></td>
        <td><%= mastersthesis.annote %></td>
        <td><%= mastersthesis.chapter %></td>
        <td><%= mastersthesis.crossref %></td>
        <td><%= mastersthesis.howpublished %></td>
        <td><%= mastersthesis.institution %></td>
        <td><%= mastersthesis.school %></td>
        <td><%= mastersthesis.type %></td>
        <td><%= link_to 'Show', mastersthesis %></td>
        <td><%= link_to 'Edit', edit_mastersthesis_path(mastersthesis) %></td>
        <td><%= link_to 'Destroy', mastersthesis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mastersthesis', new_mastersthesis_path %>
