<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @mastersthesis.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @mastersthesis.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @mastersthesis.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @mastersthesis.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @mastersthesis.year %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @mastersthesis.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @mastersthesis.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @mastersthesis.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @mastersthesis.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @mastersthesis.note %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @mastersthesis.publisher %>
</p>

<p>
  <strong>Series:</strong>
  <%= @mastersthesis.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @mastersthesis.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @mastersthesis.edition %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @mastersthesis.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @mastersthesis.editor %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @mastersthesis.organization %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @mastersthesis.entry_type %>
</p>

<p>
  <strong>Annote:</strong>
  <%= @mastersthesis.annote %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @mastersthesis.chapter %>
</p>

<p>
  <strong>Crossref:</strong>
  <%= @mastersthesis.crossref %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @mastersthesis.howpublished %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @mastersthesis.institution %>
</p>

<p>
  <strong>School:</strong>
  <%= @mastersthesis.school %>
</p>

<p>
  <strong>Type:</strong>
  <%= @mastersthesis.type %>
</p>

<%= link_to 'Edit', edit_mastersthesis_path(@mastersthesis) %> |
<%= link_to 'Back', masterstheses_path %>
