<p id="notice"><%= notice %></p>

<h1>Listing Proceedings</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Author</th>
      <th>Title</th>
      <th>Journal</th>
      <th>Year</th>
      <th>Volume</th>
      <th>Number</th>
      <th>Pages</th>
      <th>Month</th>
      <th>Note</th>
      <th>Publisher</th>
      <th>Series</th>
      <th>Address</th>
      <th>Edition</th>
      <th>Booktitle</th>
      <th>Editor</th>
      <th>Organization</th>
      <th>Entry type</th>
      <th>Annote</th>
      <th>Chapter</th>
      <th>Crossref</th>
      <th>Howpublished</th>
      <th>Institution</th>
      <th>School</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proceedings.each do |proceeding| %>
      <tr>
        <td><%= proceeding.key %></td>
        <td><%= proceeding.author %></td>
        <td><%= proceeding.title %></td>
        <td><%= proceeding.journal %></td>
        <td><%= proceeding.year %></td>
        <td><%= proceeding.volume %></td>
        <td><%= proceeding.number %></td>
        <td><%= proceeding.pages %></td>
        <td><%= proceeding.month %></td>
        <td><%= proceeding.note %></td>
        <td><%= proceeding.publisher %></td>
        <td><%= proceeding.series %></td>
        <td><%= proceeding.address %></td>
        <td><%= proceeding.edition %></td>
        <td><%= proceeding.booktitle %></td>
        <td><%= proceeding.editor %></td>
        <td><%= proceeding.organization %></td>
        <td><%= proceeding.entry_type %></td>
        <td><%= proceeding.annote %></td>
        <td><%= proceeding.chapter %></td>
        <td><%= proceeding.crossref %></td>
        <td><%= proceeding.howpublished %></td>
        <td><%= proceeding.institution %></td>
        <td><%= proceeding.school %></td>
        <td><%= proceeding.type %></td>
        <td><%= link_to 'Show', proceeding %></td>
        <td><%= link_to 'Edit', edit_proceeding_path(proceeding) %></td>
        <td><%= link_to 'Destroy', proceeding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proceeding', new_proceeding_path %>
