<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @proceeding.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @proceeding.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @proceeding.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @proceeding.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @proceeding.year %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @proceeding.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @proceeding.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @proceeding.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @proceeding.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @proceeding.note %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @proceeding.publisher %>
</p>

<p>
  <strong>Series:</strong>
  <%= @proceeding.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @proceeding.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @proceeding.edition %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @proceeding.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @proceeding.editor %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @proceeding.organization %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @proceeding.entry_type %>
</p>

<p>
  <strong>Annote:</strong>
  <%= @proceeding.annote %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @proceeding.chapter %>
</p>

<p>
  <strong>Crossref:</strong>
  <%= @proceeding.crossref %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @proceeding.howpublished %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @proceeding.institution %>
</p>

<p>
  <strong>School:</strong>
  <%= @proceeding.school %>
</p>

<p>
  <strong>Type:</strong>
  <%= @proceeding.type %>
</p>

<%= link_to 'Edit', edit_proceeding_path(@proceeding) %> |
<%= link_to 'Back', proceedings_path %>
