<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @reference.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @reference.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reference.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @reference.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @reference.year %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @reference.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @reference.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @reference.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @reference.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @reference.note %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @reference.publisher %>
</p>

<p>
  <strong>Series:</strong>
  <%= @reference.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @reference.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @reference.edition %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @reference.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @reference.editor %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @reference.organization %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @reference.entry_type %>
</p>

<p>
  <strong>Annote:</strong>
  <%= @reference.annote %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @reference.chapter %>
</p>

<p>
  <strong>Crossref:</strong>
  <%= @reference.crossref %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @reference.howpublished %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @reference.institution %>
</p>

<p>
  <strong>School:</strong>
  <%= @reference.school %>
</p>


<%= link_to 'Back', references_path %>
