<p id="notice"><%= notice %></p>

<h1>Listing Miscs</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Author</th>
      <th>Title</th>
      <th>Journal</th>
      <th>Year</th>
      <th>Volume</th>
      <th>Number</th>
      <th>Pages</th>
      <th>Month</th>
      <th>Note</th>
      <th>Publisher</th>
      <th>Series</th>
      <th>Address</th>
      <th>Edition</th>
      <th>Booktitle</th>
      <th>Editor</th>
      <th>Organization</th>
      <th>Entry type</th>
      <th>Annote</th>
      <th>Chapter</th>
      <th>Crossref</th>
      <th>Howpublished</th>
      <th>Institution</th>
      <th>School</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @miscs.each do |misc| %>
      <tr>
        <td><%= misc.key %></td>
        <td><%= misc.author %></td>
        <td><%= misc.title %></td>
        <td><%= misc.journal %></td>
        <td><%= misc.year %></td>
        <td><%= misc.volume %></td>
        <td><%= misc.number %></td>
        <td><%= misc.pages %></td>
        <td><%= misc.month %></td>
        <td><%= misc.note %></td>
        <td><%= misc.publisher %></td>
        <td><%= misc.series %></td>
        <td><%= misc.address %></td>
        <td><%= misc.edition %></td>
        <td><%= misc.booktitle %></td>
        <td><%= misc.editor %></td>
        <td><%= misc.organization %></td>
        <td><%= misc.entry_type %></td>
        <td><%= misc.annote %></td>
        <td><%= misc.chapter %></td>
        <td><%= misc.crossref %></td>
        <td><%= misc.howpublished %></td>
        <td><%= misc.institution %></td>
        <td><%= misc.school %></td>
        <td><%= misc.type %></td>
        <td><%= link_to 'Show', misc %></td>
        <td><%= link_to 'Edit', edit_misc_path(misc) %></td>
        <td><%= link_to 'Destroy', misc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Misc', new_misc_path %>
