<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @misc.key %>
</p>

<p>
  <strong>Author:</strong>
  <%= @misc.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @misc.title %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @misc.journal %>
</p>

<p>
  <strong>Year:</strong>
  <%= @misc.year %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @misc.volume %>
</p>

<p>
  <strong>Number:</strong>
  <%= @misc.number %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @misc.pages %>
</p>

<p>
  <strong>Month:</strong>
  <%= @misc.month %>
</p>

<p>
  <strong>Note:</strong>
  <%= @misc.note %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @misc.publisher %>
</p>

<p>
  <strong>Series:</strong>
  <%= @misc.series %>
</p>

<p>
  <strong>Address:</strong>
  <%= @misc.address %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @misc.edition %>
</p>

<p>
  <strong>Booktitle:</strong>
  <%= @misc.booktitle %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @misc.editor %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @misc.organization %>
</p>

<p>
  <strong>Entry type:</strong>
  <%= @misc.entry_type %>
</p>

<p>
  <strong>Annote:</strong>
  <%= @misc.annote %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @misc.chapter %>
</p>

<p>
  <strong>Crossref:</strong>
  <%= @misc.crossref %>
</p>

<p>
  <strong>Howpublished:</strong>
  <%= @misc.howpublished %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @misc.institution %>
</p>

<p>
  <strong>School:</strong>
  <%= @misc.school %>
</p>

<p>
  <strong>Type:</strong>
  <%= @misc.type %>
</p>

<%= link_to 'Edit', edit_misc_path(@misc) %> |
<%= link_to 'Back', miscs_path %>
